.test {
    font-size: 50px;
}

body {
    background: linear-gradient(white, purple);
    justify-content: center;
    align-items: center;
    height:100vh;
}

.buttonPress {
    width: 200px;
    height: 100px;
    font-size: 20px;
    color: white;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.buttonParagraph {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.topLinks {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
    top: 0;
}