.test {
    font-size: 50px;
}

.collapsible {

}

.docStart {
    align-content: center;
}

.buttonPress {
    width: 200px;
    height: 100px;
    font-size: 20px;
    color: white;
    background-color: darkblue;
}