body {
    background: linear-gradient(to bottom, white, #c1dfff);
    height: 100vh;
    margin: 0;
}

.bottomLinks {
    position: fixed;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.characterBox {
    width: 50%;
    height: 50%;
    display: flex;
    margin: auto;
}