body {
    background: linear-gradient(to bottom, white, #c1dfff);
    height: 100vh;
    margin: 0;
}

.bottomLinks {
    position: fixed;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.characterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.characterBox img {
    width: 500px;
    height: auto;
}

.characterBox button {
    margin: 0 5px;
    accent-color: #c1dfff;

}

.characterButton {
    flex-direction: row;
    border-radius: 50px;
}