.topLinks {
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

body {
    height: 100vh;
    background-image: url("images/replace.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

h2 {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 1px;
    margin: 0 auto;
}

.textContainer {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.contactInfo {
    text-align: center;
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}

.contactText {
    display: flex;
    justify-content: center;
    gap: 20px
}