.topLinks {
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

body {
    background: linear-gradient(white 95%, purple 5%);
    height: 100vh;
}

h2 {
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 1px;
    margin: 0 auto;
}

.textContainer {
    text-align: center;
}

.contactInfo {
    text-align: center;
    bottom: 10px;
}