body {
  font-size: 1rem;
  height: 100vh;
  background-image: url("images/replace.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.textContainer {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.textContainer h1 {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  margin: 0 auto;
}

.textContainer h2 {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-top: 5px;
  padding-bottom: 1px;
  margin: 0 auto;
}

.contactInfo {
  text-align: center;
  position: fixed; /* Changed to fixed for footer */
  bottom: 0; /* Stick to the bottom of the viewport */
  left: 0;
  right: 0;
  margin: 0; /* Remove default margin */
  padding: 10px; /* Add padding */
  background-color: #fff; /* Optional: Background color for readability */
  z-index: 1000; /* Ensure it stays on top */
}

/* MOBILE */
@media (max-width: 600px) {
  body {
    font-size: 1rem; /* Adjusted to be more reasonable for mobile */
  }

  h1 {
    font-size: 1.5rem; /* Resize h1 for mobile */
  }

  h2 {
    font-size: 1.25rem; /* Resize h2 for mobile */
  }

  .textContainer,
  .contactInfo {
    padding-left: 10px;
    padding-right: 10px;
  }
}
